<template>
  <div>
    <div class="login-social" v-loading="loading">
      <el-button @click="loginWithGoogle"> Google <img src="../../../assets/google-ic.svg" alt="" /> </el-button>
    </div>
    <el-divider>or</el-divider>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'LoginWithSocial',
  computed: {
    ...mapGetters('auth', ['error', 'loading'])
  },
  methods: {
    async loginWithGoogle() {
      try {
        await this.$store.dispatch('auth/loginWithGoogle');
      } catch (error) {
        this.$notify.error({
          title: 'Error',
          message: `${this.error}`
        });
        throw error;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.el-divider__text {
  background: lighten($gray, 5%);
}
.login-social {
  .el-button {
    position: relative;
    width: 100%;
    img {
      width: 20px;
      height: 20px;
      margin-left: 10px;
      margin-bottom: -5px;
    }
  }
}
</style>
