<template>
  <div class="add-todo">
    <el-button type="primary" @click="dialogVisible = true">Add new todo</el-button>

    <el-dialog class="dialog" title="Add new todo" :visible.sync="dialogVisible" :before-close="handleClose">
      <el-form
        :model="form"
        ref="form"
        :rules="addTodoRules"
        @submit.native="submitForm('form')"
        :validate-on-rule-change="false"
      >
        <el-form-item prop="title">
          <el-input placeholder="Todo title" v-model="form.title" />
        </el-form-item>
        <el-form-item prop="description">
          <el-input placeholder="Todo description" v-model="form.description" />
        </el-form-item>
        <el-form-item prop="category">
          <el-autocomplete placeholder="Todo category" :fetch-suggestions="querySearch" v-model="form.category" />
        </el-form-item>
        <el-form-item prop="priority">
          <el-select v-model="form.priority" placeholder="Select todo priority">
            <el-option v-for="item in form.priorityItems" :key="item.value" :label="item.label" v-model="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-button
          @click="showCheckList = !showCheckList"
          :icon="!showCheckList ? 'el-icon-plus' : 'el-icon-minus'"
          class="show-check-list"
        >
          {{ !showCheckList ? 'Add check list' : 'Remove check list' }}
        </el-button>
        <div class="check-list" v-if="showCheckList">
          <ul>
            <li v-for="item in checkList" :key="item.id">
              <i class="el-icon-check" />
              {{ item.value }}
              <i class="el-icon-close" @click="deleteCheckElement(item.id)" />
            </li>
          </ul>
          <div class="check-list-add">
            <el-input placeholder="Add element" v-model="checkListElement" />
            <el-button icon="el-icon-plus" type="primary" @click="addCheckListItem" />
          </div>
        </div>

        <div class="form-buttons">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button type="success" @click="submitForm('form')" :loading="loading">Add</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { v4 as uuidv4 } from 'uuid';
export default {
  name: 'AddTodo',
  data: () => ({
    dialogVisible: false,
    showCheckList: false,
    checkListElement: '',
    checkList: [],
    form: {
      title: '',
      description: '',
      category: '',
      priority: '',
      priorityItems: [
        {
          value: 'low',
          label: 'Low'
        },
        {
          value: 'normal',
          label: 'Normal'
        },
        {
          value: 'critical',
          label: 'Critical'
        }
      ]
    }
  }),
  computed: {
    ...mapGetters('todos', ['loading', 'error']),
    ...mapGetters('categories', ['userCategories']),
    addTodoRules() {
      return {
        title: [
          { required: true, message: 'Title is required', trigger: 'blur' },
          { min: 5, message: 'Min length 5', trigger: ['blur', 'change'] }
        ],
        description: [{ min: 10, message: 'Min length 10', trigger: 'change' }],
        category: [
          { required: true, message: 'Category is required', trigger: 'blur' },
          { min: 3, message: 'Min length 3', trigger: ['blur', 'change'] }
        ],
        priority: [{ required: true, message: 'Please todo priority', trigger: 'change' }]
      };
    }
  },
  methods: {
    addCheckListItem() {
      const item = {
        id: uuidv4(),
        value: this.checkListElement,
        isDone: false
      };

      this.checkList.push(item);
      this.checkListElement = '';
    },
    deleteCheckElement(id) {
      const newCheckList = this.checkList.filter(item => item.id !== id);
      this.checkList = newCheckList;
    },
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const data = {
              title: this.form.title,
              description: this.form.description,
              category: this.form.category,
              priority: this.form.priority,
              checkList: this.checkList.length ? this.checkList : null
            };
            await this.$store.dispatch('todos/addTodo', data);
            await this.$store.dispatch('categories/addCategory', this.form.category);
          } catch (error) {
            this.$notify.error({
              title: 'Error',
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
          this.dialogVisible = false;
        } else {
          this.$notify.info({
            title: 'Warning',
            message: 'Check required inputs',
            type: 'warning'
          });
          return false;
        }
      });
    },
    querySearch(queryString, cb) {
      let categories = this.userCategories;
      let results = queryString ? categories.filter(this.createFilter(queryString)) : categories;
      cb(results);
    },
    createFilter(queryString) {
      return category => {
        return category.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
      };
    },
    handleClose() {
      this.form.title = '';
      this.form.description = '';
      this.form.category = '';
      this.dialogVisible = false;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.form-buttons {
  display: flex;
  justify-content: flex-end;
}
.el-autocomplete,
.el-select {
  width: 100%;
}
.show-check-list {
  margin-bottom: $gutter;
}
.check-list {
  ul {
    margin-bottom: $gutter / 1.5;
    margin-top: 0;
    padding-left: 0;
    li {
      display: flex;
      align-items: center;
      padding-left: 0;
      .el-icon-check {
        margin-right: $gutter / 1.5;
      }
      .el-icon-close {
        margin-left: auto;
        cursor: pointer;
      }
    }
  }
  &-add {
    display: flex;
    align-items: center;
    margin-bottom: $gutter;
    .el-input {
      width: 100%;
    }
    .el-button {
      min-width: 40px;
      margin-left: $gutter / 1.5;
    }
  }
}
</style>
