<template>
  <div class="edit-todo">
    <el-tooltip effect="dark" content="Edit todo" placement="top">
      <el-button class="btn-sm" type="primary" icon="el-icon-edit" @click="dialogVisible = true" circle />
    </el-tooltip>

    <el-dialog class="dialog" title="Edit todo" :visible.sync="dialogVisible" :before-close="handleClose">
      <el-form
        :model="form"
        ref="form"
        :rules="editTodoRules"
        @submit.native="submitForm('form')"
        :validate-on-rule-change="false"
      >
        <el-form-item prop="newTitle">
          <el-input placeholder="Todo title" v-model="form.newTitle" />
        </el-form-item>
        <el-form-item prop="description">
          <el-input placeholder="Todo description" v-model="form.newDescription" />
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">Cancel</el-button>
        <el-button type="primary" @click="submitForm('form')" :loading="loading">Edit</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'EditTodo',
  data: () => ({
    dialogVisible: false,
    form: {
      newTitle: '',
      newDescription: ''
    }
  }),
  props: ['todo'],
  computed: {
    ...mapGetters('todos', ['loading']),
    editTodoRules() {
      return {
        newTitle: [
          { required: true, message: 'Title is required', trigger: 'blur' },
          { min: 5, message: 'Min length 5', trigger: ['blur', 'change'] }
        ],
        newDescription: [{ min: 10, message: 'Min length 10', trigger: 'change' }]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const data = {
              todoId: this.todo.id,
              title: this.form.newTitle,
              description: this.form.newDescription
            };
            await this.$store.dispatch('todos/editTodo', data);
          } catch (error) {
            this.$notify.error({
              title: 'Error',
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
          this.dialogVisible = false;
        } else {
          this.$notify.info({
            title: 'Warning',
            message: 'Check required inputs',
            type: 'warning'
          });
          return false;
        }
      });
    },
    handleClose() {
      this.form.newTitle = '';
      this.form.newDescription = '';
      this.dialogVisible = false;
    }
  },
  mounted() {
    this.form.newTitle = this.todo.title;
    this.form.newDescription = this.todo.description;
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.edit-todo {
  margin: 0 $gutter / 1.5;

  @media (max-width: $braikpoint) {
    margin: $gutter / 3 0;
  }
}
</style>
