<template>
  <div class="todos-filter">
    <el-input placeholder="Type todo name..." clearable prefix-icon="el-icon-search" :value="term" @input="setTerm" />

    <el-date-picker
      @change="setDateFilter"
      v-model="date"
      type="daterange"
      range-separator="To"
      start-placeholder="Start date"
      end-placeholder="End date"
      value-format="timestamp"
      clearable
    >
    </el-date-picker>

    <el-select :value="activeFilter" placeholder="Filter by category" @change="setActiveFilter">
      <el-option-group v-for="group in filters" :label="group.label" :key="group.label">
        <el-option v-for="item in group.options" :key="item.value" :label="item.value" :value="item.value" />
      </el-option-group>
    </el-select>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'TodosFilter',
  data: () => ({
    date: ''
  }),
  computed: {
    ...mapGetters('todos', ['term', 'activeFilter']),
    ...mapGetters('categories', ['userCategories']),
    filters() {
      return [
        {
          label: 'Filter by status',
          options: [
            {
              value: 'All'
            },
            {
              value: 'Progres'
            },
            {
              value: 'Done'
            }
          ]
        },
        {
          label: 'Filter by category',
          options: this.userCategories
        }
      ];
    }
  },
  methods: {
    setDateFilter(value) {
      this.$store.commit('todos/setDateFilter', value);
    },
    setActiveFilter(value) {
      this.$store.commit('todos/setActiveFilter', value);
    },
    setTerm(value) {
      this.$store.commit('todos/setTerm', value);
    }
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.todos-filter {
  .el-date-editor {
    @media (max-width: $braikpoint) {
      width: calc(50% - 5px);
      margin-right: $gutter / 3;
    }
    .el-range-separator {
      width: auto;
      @media (max-width: $braikpoint) {
        font-size: 11px;
      }
    }
  }
}
.el-range-editor .el-range-input {
  @media (max-width: $braikpoint) {
    font-size: 11px;
  }
}
.el-date-range-picker {
  width: auto;
  max-width: 650px;
}
.el-date-range-picker .el-picker-panel__body {
  display: flex;
  min-width: auto;
  @media (max-width: $braikpoint) {
    flex-direction: column;
  }
}
.el-date-range-picker__content {
  @media (max-width: $braikpoint) {
    width: 100%;
  }
  &.is-left {
    @media (max-width: $braikpoint) {
      border-right: 0;
      border-bottom: 1px solid #e4e4e4;
    }
  }
}
</style>
<style lang="scss" scoped>
@import '@/scss/_variables';
.todos-filter {
  display: flex;
  .el-input {
    margin-right: $gutter;

    @media (max-width: $braikpoint) {
      margin-bottom: $gutter / 1.5;
      margin-right: 0;
    }
  }
  .el-select {
    margin-left: $gutter;

    @media (max-width: $braikpoint) {
      width: calc(50% - 5px);
      margin-left: $gutter / 3;
    }
  }

  @media (max-width: $braikpoint) {
    flex-wrap: wrap;
  }
}
</style>
