<template>
  <li class="todo-item" :class="{ done: todo.isDone }">
    <div class="todo-item__text">
      <div class="tags">
        <el-tag :type="tagType">Priority: {{ todo.priority }}</el-tag>
        <el-tag>Category: {{ todo.category }}</el-tag>
      </div>
      <h6>{{ todo.title }}</h6>
      <p v-if="todo.description">{{ todo.description }}</p>
      <div class="check-list" v-if="todo.checkList && todo.checkList.length">
        <p>Check list:</p>

        <el-checkbox
          v-for="item in todo.checkList"
          :key="item.id"
          :label="item.value"
          :value="item.isDone"
          @change="changeCheckListItem(todo.id, item.id)"
          :disabled="todo.isDone"
        />
      </div>
      <span class="todo-item__date">Create date: {{ todoDate | date() }}</span>
    </div>
    <div class="todo-item__actions">
      <el-tooltip effect="dark" :content="!todo.isDone ? 'Complete' : 'Reopen'" placement="top">
        <el-button
          class="btn-sm"
          :type="todo.isDone ? 'success' : 'warning'"
          :icon="todo.isDone ? 'el-icon-video-play' : 'el-icon-video-pause'"
          circle
          @click="toggleDone"
        />
      </el-tooltip>

      <EditTodo :todo="todo" />
      <el-tooltip effect="dark" content="Delete todo" placement="top">
        <el-popconfirm
          confirmButtonText="Yes"
          cancelButtonText="No, cancel"
          icon="el-icon-info"
          iconColor="red"
          title="Are you sure to delete this todo?"
          @onConfirm="deleteTodo"
        >
          <el-button slot="reference" class="btn-sm" type="danger" icon="el-icon-delete" circle />
        </el-popconfirm>
      </el-tooltip>
    </div>
  </li>
</template>

<script>
import EditTodo from './EditTodo';
export default {
  name: 'TodosItem',
  props: ['todo'],
  computed: {
    tagType() {
      if (this.todo.priority === 'low') return 'info';
      else if (this.todo.priority === 'normal') return 'warning';
      else return 'danger';
    },
    todoDate() {
      return this.todo.createDate.seconds * 1000 + this.todo.createDate.nanoseconds / 1000000;
    }
  },
  methods: {
    async toggleDone() {
      await this.$store.dispatch('todos/toggleDone', this.todo.id);
    },
    async deleteTodo() {
      await this.$store.dispatch('todos/deleteTodo', this.todo.id);
    },
    async changeCheckListItem(todoId, itemId) {
      await this.$store.dispatch('todos/changeCheckListItem', { todoId, itemId });
    }
  },
  components: {
    EditTodo
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.todo-item {
  display: flex;
  justify-content: space-between;
  background: $white;
  border-radius: $radius;
  border: 1px solid $gray;
  padding: $gutter;
  margin-bottom: $gutter;
  &.done {
    background: darken($gray, 5%);
  }
  &__text {
    padding-right: $gutter;
    .tags {
      .el-tag {
        margin: 0 $gutter / 1.5 $gutter / 3 0;
      }
    }
    h6 {
      margin: $gutter / 1.5 0 $gutter / 3;
    }
    p {
      margin: 0;
    }
    .check-list {
      margin: $gutter / 1.5 0;
      p {
        font-weight: 700;
      }
      .el-checkbox {
        margin-right: 0;
        display: block;
      }
    }
    .todo-item__date {
      color: darken($gray, 20%);
      font-size: 12px;
    }
  }
  &__actions {
    display: flex;
    align-items: flex-start;

    @media (max-width: $braikpoint) {
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .btn-sm {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0;
  }
}
</style>
