<template>
  <ul class="todos-list" v-if="todos.length" v-loading="loading">
    <TodosItem v-for="todo in todos" :key="todo.id" :todo="todo" />
  </ul>
  <h4 v-else>No todos...</h4>
</template>

<script>
import { mapGetters } from 'vuex';
import TodosItem from './TodosItem';
export default {
  name: 'TodosList',
  computed: {
    ...mapGetters('todos', ['loading', 'todos'])
  },
  components: {
    TodosItem
  },
  async mounted() {
    await this.$store.dispatch('todos/fetchTodos');
    await this.$store.dispatch('categories/fetchUserCategories');
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.todos-list {
  padding: 0;
  margin: $gutter * 2 0 0;
}
</style>
