<template>
  <el-row :gutter="20" class="todos">
    <el-col :span="22" :offset="1">
      <div class="todos__header">
        <h2>Your todos</h2>
        <AddTodo />
      </div>
      <TodosFilter />
      <TodosList />
    </el-col>
  </el-row>
</template>

<script>
import AddTodo from './components/AddTodo';
import TodosList from './components/TodosList';
import TodosFilter from './components/TodosFilter';
export default {
  name: 'Todos',
  components: {
    AddTodo,
    TodosFilter,
    TodosList
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';
.todos {
  padding-top: $gutter * 2;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $gutter;
    h2 {
      margin-bottom: 0;
    }
  }
}
</style>
