<template>
  <div class="not-found">
    <img src="../assets/404.svg" alt="" />
    <router-link to="/">Back to homepage</router-link>
  </div>
</template>

<style lang="scss" scoped>
.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  img {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
  }
  a {
    font-size: 30px;
  }
}
</style>
