<template>
  <el-row :gutter="20" class="profile-edit">
    <el-col :span="12" :offset="6" :xs="{ span: 20, offset: 2 }">
      <router-link to="/">Back to homepage</router-link>
      <h2>Profile edit</h2>
      <el-form :model="form" ref="form" :validate-on-rule-change="false" :rules="profileEditRules">
        <el-form-item prop="email">
          <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
        </el-form-item>
        <el-form-item prop="displayName">
          <el-input placeholder="Display name" autocomplete="off" v-model="form.displayName" />
        </el-form-item>
        <el-form-item prop="password">
          <el-input type="password" autocomplete="off" placeholder="Password" v-model="form.password" />
        </el-form-item>
        <el-button
          :loading="loading"
          class="auth-btn"
          type="primary"
          :disabled="disableSubmit"
          @click="submitForm('form')"
        >
          Edit
        </el-button>
        <el-button type="danger" native-type="button" class="auth-btn delete" @click="dialogVisible = true"
          >Delete accout</el-button
        >

        <el-dialog class="dialog" title="Delete account" :visible.sync="dialogVisible" :before-close="handleClose">
          <span>Are you shure delete account?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button type="danger" @click="deleteAccount" :loading="loading">Delete</el-button>
          </span>
        </el-dialog>
      </el-form>
    </el-col>
  </el-row>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'ProfileEdit',
  data: () => ({
    dialogVisible: false,
    form: {
      email: '',
      displayName: '',
      password: '',
      navbarToggler: false
    }
  }),
  computed: {
    ...mapGetters('auth', ['currentUser', 'loading', 'error']),
    disableSubmit() {
      if (
        this.form.email !== this.currentUser.email ||
        this.form.displayName !== this.currentUser.displayName ||
        this.form.password
      ) {
        return false;
      } else {
        return true;
      }
    },
    profileEditRules() {
      return {
        displayName: { required: true, message: 'Display name is required', trigger: 'blur' },
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          { type: 'email', message: 'Please type correct email', trigger: ['blur', 'change'] }
        ],
        password: [{ min: 6, message: 'Too short...', trigger: ['blur', 'change'] }]
      };
    }
  },
  methods: {
    handleClose() {
      this.dialogVisible = false;
    },
    async deleteAccount() {
      try {
        await this.$store.dispatch('auth/deleteAccount');
        this.$notify({
          title: 'Account succesfully deleted',
          type: 'success'
        });
      } catch (error) {
        this.$notify.error({
          title: 'Error',
          message: `${this.error}`
        });
        throw error;
      }
      this.dialogVisible = false;
    },
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/updateProfile', this.form);
            this.$notify({
              title: 'Profile succesfully updated',
              type: 'success'
            });
          } catch (error) {
            this.$notify.error({
              title: 'Error',
              message: `${this.error}`
            });
            throw error;
          }
          this.form.password = '';
        } else {
          this.$notify.info({
            title: 'Warning',
            message: 'Check required inputs',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.form.email = this.currentUser.email;
    this.form.displayName = this.currentUser.displayName;
  }
};
</script>

<style lang="scss" scoped>
.profile-edit {
  padding-top: 40px;
}
</style>
