<template>
  <nav class="navbar">
    <router-link class="navbar__logo" to="/">
      <span>Todos</span>
    </router-link>

    <el-dropdown class="dropdown" @command="handleCommand" trigger="click">
      <el-avatar v-if="currentUser.photoURL" :src="currentUser.photoURL" style="cursor: pointer" />
      <el-avatar v-else style="cursor: pointer; font-weight: 700">{{
        currentUser.displayName.split('').join()[0]
      }}</el-avatar>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="profile">
          Profile
        </el-dropdown-item>
        <el-dropdown-item command="logout">
          Logout
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'Navbar',
  computed: {
    ...mapGetters('auth', ['currentUser'])
  },
  methods: {
    async handleCommand(command) {
      if (command === 'logout') {
        await this.$store.dispatch('auth/logout');
      } else {
        this.$router.push('/profile-edit');
      }
    }
  },
  async mounted() {
    if (this.currentUser && !this.currentUser.emailVerified) {
      this.$notify({
        title: 'Email is not verify',
        message: 'Check your mail inbox and verify email',
        type: 'warning'
      });
    }
  }
};
</script>

<style scoped lang="scss">
@import '@/scss/_variables';
.navbar {
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: $primary;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 76px;

  .dropdown {
    margin-left: auto;
    .el-button {
      padding-right: 60px;
      .el-avatar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        height: 30px;
        width: 30px;
      }
    }
  }
  &__logo {
    color: $white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    height: 40px;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      margin-right: $gutter;
    }
  }
}
</style>
