<template>
  <div id="app" class="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import AuthLayout from '@/layouts/AuthLayout.vue';
import MainLayout from '@/layouts/MainLayout.vue';
export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || 'auth') + '-layout';
    }
  },
  components: {
    AuthLayout,
    MainLayout
  }
};
</script>

<style lang="scss">
@import '@/scss/main';

.app {
  min-height: 100vh;
  background: lighten($gray, 5%);
  overflow: hidden;
}
</style>
