@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  color: $main-text;
  line-height: 1.5;
}
body > *,
.el-textarea__inner,
.el-input__inner,
.el-button,
.el-range-editor.el-input__inner {
  font-family: 'Lato', 'Roboto', 'Helvetica', sans-serif;
}
.el-button {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $main-text;
}
h1,
.h1 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}
h2,
.h2 {
  font-size: 2rem;
  margin-bottom: 1.125rem;
}
h3,
.h3 {
  font-size: 1.5rem;
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1.125rem;
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 1rem;
}
