$main-text: #303133;
$primary: #409eff;
$warning: #f57906;
$danger: #f56c6c;
$success: #67c23a;
$gray: #dcdfe6;
$white: #fff;
$gutter: 15px;
$radius: 10px;
$transition: 0.3s all ease;
$braikpoint: 992px;
