<template>
  <div class="auth-wrapper">
    <el-row :gutter="20">
      <el-col :span="8" :offset="8" :xs="{ span: 22, offset: 1 }">
        <router-view />
      </el-col>
    </el-row>
  </div>
</template>

<style lang="scss">
@import '@/scss/_variables';

.auth-wrapper {
  padding: 116px 15px 40px;
}
.auth-btn {
  width: 100%;
  &.delete {
    margin: 15px 0;
  }
}
</style>
