<template>
  <div class="main-wrapper">
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';
export default {
  components: {
    Navbar
  }
};
</script>

<style lang="scss" scoped>
.main-wrapper {
  padding-top: 76px;
}
</style>
