<template>
  <div>
    <h2>Log in</h2>
    <LoginWithSocial />
    <el-form
      :model="form"
      ref="form"
      :rules="loginRules"
      @submit.native="submitForm('form')"
      :validate-on-rule-change="false"
    >
      <el-form-item prop="email">
        <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input type="password" autocomplete="off" placeholder="Password" v-model="form.password">
          <router-link slot="suffix" to="/recovery">Forgot password?</router-link>
        </el-input>
      </el-form-item>
      <el-button :loading="loading" class="auth-btn" type="primary" @click="submitForm('form')">Log in</el-button>
      <p>
        Dont have an account?
        <router-link to="/signup">Sign up</router-link>
      </p>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoginWithSocial from './components/LoginWithSocial';

export default {
  name: 'Login',
  data: () => ({
    form: {
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    loginRules() {
      return {
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          { type: 'email', message: 'Please type correct email', trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, message: 'Password is required', trigger: 'blur' },
          { min: 6, message: 'Too short...', trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/signIn', this.form);
          } catch (error) {
            this.$notify.error({
              title: 'Error',
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: 'Warning',
            message: 'Check required inputs',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  },
  components: {
    LoginWithSocial
  }
};
</script>
