<template>
  <div>
    <h2>Password recovery</h2>
    <el-form
      :model="form"
      ref="form"
      :rules="recoveryRules"
      @submit.native="submitForm('form')"
      :validate-on-rule-change="false"
    >
      <el-form-item prop="email">
        <el-input placeholder="Email" autocomplete="email" v-model="form.email" />
      </el-form-item>
      <el-button :loading="loading" class="auth-btn" type="primary" @click="submitForm('form')">Send email</el-button>
    </el-form>
    <p>
      <router-link to="/login">Log in</router-link>
    </p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Login',
  data: () => ({
    form: {
      email: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    recoveryRules() {
      return {
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          { type: 'email', message: 'Please type correct email', trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            await this.$store.dispatch('auth/recoveryPassword', this.form);
            this.$notify({
              title: 'Email succesfully sent',
              message: 'Check your mail inbox',
              type: 'success'
            });
          } catch (error) {
            this.$notify.error({
              title: 'Error',
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: 'Warning',
            message: 'Check required inputs',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  }
};
</script>
