<template>
  <div>
    <h2>
      Sign up
    </h2>
    <LoginWithSocial />
    <el-form
      :model="form"
      :rules="signUpRules"
      ref="form"
      @submit.native="submitForm('form')"
      :validate-on-rule-change="false"
    >
      <el-form-item prop="displayName">
        <el-input placeholder="Display name" v-model="form.displayName" />
      </el-form-item>
      <el-form-item prop="email">
        <el-input placeholder="Email" v-model="form.email" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input type="password" autocomplete="off" placeholder="Password" v-model="form.password" />
      </el-form-item>
      <el-button :loading="loading" type="primary" class="auth-btn" @click="submitForm('form')">Sign up</el-button>
      <p>Have an account? <router-link to="/login">Log in</router-link></p>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import LoginWithSocial from './components/LoginWithSocial';
export default {
  name: 'Login',
  data: () => ({
    form: {
      displayName: '',
      email: '',
      password: ''
    }
  }),
  computed: {
    ...mapGetters('auth', ['error', 'loading']),
    ...mapGetters(['locale']),
    signUpRules() {
      return {
        displayName: { required: true, message: 'Display name is required', trigger: 'blur' },
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          { type: 'email', message: 'Please type correct email', trigger: ['blur', 'change'] }
        ],
        password: [
          { required: true, message: 'Password is required', trigger: 'blur' },
          { min: 6, message: 'Too short...', trigger: ['blur', 'change'] }
        ]
      };
    }
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const data = {
              displayName: this.form.displayName,
              email: this.form.email,
              password: this.form.password
            };
            await this.$store.dispatch('auth/signUp', data);
          } catch (error) {
            this.$notify.error({
              title: 'Error',
              message: `${this.error}`
            });
            throw error;
          }
          this.$refs[formName].resetFields();
        } else {
          this.$notify.info({
            title: 'Warning',
            message: 'Check required inputs',
            type: 'warning'
          });
          return false;
        }
      });
    }
  },
  mounted() {
    this.$store.commit('auth/init');
  },
  components: {
    LoginWithSocial
  }
};
</script>
